//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

/**
 * AU-pixelfallback enable pixel fallbacks
 */
 $AU-pixelfallback: true;


 /**
  * AU-media Breakpoints
  */
 $AU-media-xs: 576px; // media query breakpoints
 $AU-media-sm: 768px;
 $AU-media-md: 992px;
 $AU-media-lg: 1200px;
 
 
 /**
  * AU-rem value used for REM calculation
  */
 $AU-rem: 16;
 
 
 /**
  * AU-unit used for all type and grid calculations
  */
 $AU-unit: 4;
 
 
 /**
  * AU-font stack
  * AU-font-monospace stack
  */
 $AU-font: 'Lato', sans-serif;
 $AU-font-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
 
 
 /**
  * AU-fontsize-map
  *
  * Predetermined pixel sizes from a 1.25 typescale rounded to the nearest $AU-unit (vertical grid)
  */
 $AU-fontsize-map: (
   xs:   14,
   sm:   16,
   md:   20,
   lg:   24,
   xl:   32,
   xxl:  40,
   xxxl: 48
 );
 
 
 /**
  * AU-lineheight-map
  *
  * Predetermined lineheight mapped to keyword
  */
 $AU-lineheight-map: (
   nospace: 1,
   heading: 1.25,
   default: 1.5
 );
 
 
 /**
  * AU-maxwidth for line lengths (the ‘measure’)
  */
 $AU-maxwidth: 42em; // Answer to life, the universe, and everything (keeps things readable on wide viewports).

 
 /**
  * Base colours
  */
 $white: #FFFFFF;
 $black: #000000;
 

 /**
  * NTG brand colours
  */
 $ntg-heliconia-orange: #E35205;
 $ntg-arafura-blue: #1F1F5F;
 $ntg-charcoal-grey:	#454347;
 $ntg-hot-coral:	#C25062;
 $ntg-sky-blue: #127CC0;
 $ntg-teal-blue: #007E91;
 $ntg-rubine-red: #980044;
 $ntg-deep-mauve: #845278;
 $ntg-bottle-green: #1E5E5E;
 

 /**
  * Colors light theme
  */
 $AU-color-foreground-text: $ntg-charcoal-grey;
 $AU-color-foreground-action: $ntg-arafura-blue;
 $AU-color-foreground-focus: $ntg-heliconia-orange;
 $AU-color-foreground-hint: #6f777b;
 $AU-color-background: $white;
 
 // Generate shades
 $AU-color-background-shade: darken( $AU-color-background, 4% );
 $AU-color-background-alt: darken( $AU-color-background, 8% );
 $AU-color-background-alt-shade: darken( $AU-color-background, 12% );
 $AU-color-foreground-alt-hint: #61696B !default;
 
 
 // Generated border and muted colours
 $AU-color-foreground-muted: mix( $AU-color-foreground-text, $AU-color-background );
 $AU-color-foreground-border: mix( $AU-color-foreground-text, $AU-color-background );
 
 
 /**
  * Colors dark theme
  */
 $AU-colordark-foreground-text: $white;
 $AU-colordark-foreground-action: $white;
 $AU-colordark-foreground-focus: $ntg-heliconia-orange;
 $AU-colordark-background: $ntg-arafura-blue;
 
 // Generate shades
 $AU-colordark-background-shade: darken( $AU-colordark-background, 4% );
 $AU-colordark-background-alt: darken( $AU-colordark-background, 8% );
 $AU-colordark-background-alt-shade: darken( $AU-colordark-background, 12% );
 
 // Generated border and muted colours
 $AU-colordark-foreground-muted:  mix( $AU-colordark-foreground-text, $AU-colordark-background );
 $AU-colordark-foreground-border: mix( $AU-colordark-foreground-text, $AU-colordark-background );
 

 /**
  * Colors system messages
  */
 $AU-color-error: #d60000;
 $AU-color-success: #0b996c;
 $AU-color-warning: #f69900;
 $AU-color-info: #00bfe9;
 

 /**
  * AU-border-radius styles
  */
 $AU-border-radius: $AU-unit + 0px;
 

 /**
  * Custom colors
  */