.au-header {

  &__brand {
    width: 100%;

    .au-header__brand-image {

      @media (min-width: $AU-media-sm) {
        @include AU-space(margin-top, 1px);
        @include AU-space(max-width, 14unit);
        @include AU-space(margin-right, -14unit);
      }

      + .au-header__text {

        @media (min-width: $AU-media-sm) {
          @include AU-space(margin-left, 15unit);
        }
  
      }

    }
  }
  
}