// Import variables
@import 'base/variables';

// Import Govt UI-Kit
@import '../../core/sass/uikit';

// Import mixins
@import 'base/mixins';

// Import fonts
@import 'base/fonts';

// Import layout styles
@import 'layout/index';

// Import components styles
@import 'components/index';


// Reset the body
body {
	padding: 0;
	margin: 0;
}


// Increase the spacing for au-body elements inside main
main > .au-body {
	@include AU-space( padding, 2unit 0 );

	@include AU-media( sm ) {
		@include AU-space( padding, 4unit 0 );
	}
}

// Increase spacing between inline list items in footer
.au-footer .au-link-list--inline li {
	@include AU-space( padding-right, 1unit );
}

// The call to actions on the home page
.btn-cta-group {
	@include AU-space( margin-top, 1unit );

	.au-btn {
		@include AU-space( margin-top, 1unit );
	}
}


// Home page highlighted spacing on mobile
.highlighted-section .col-sm-4 + .col-sm-4 {
	@include AU-space( margin-top, 4unit );

	@include AU-media( sm ) {
		margin-top: 0;
	}
}


// Mobile side nav spacing
.au-side-nav {
	@include AU-space( margin-bottom, 2unit );

	@include AU-media( sm ){
		margin-bottom: 0;
	}
}

form {
	@include AU-space( margin-top, 2unit );
}

.hide_content {
	display: none;
}

//increase the space between form groups
.au-form-group + .au-form-group {
	@include AU-space( 'margin-top', 2unit)
}

.au-body :target {
  outline: none;
}

[tabindex="-1"] {
  outline: none;
}

.au-sidenav__title {
  display: none !important;

  @media (min-width: 768px) {
    display: block !important;
  }
}

[class*="col-xs-"] {
  @media (max-width: 575.98px) {
    width: 100% !important;
  }
}

blockquote {
  margin: 0;
}