//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Overrides for Australian Government Design System accordions module
// Accordions help users see only the content they need. Accordions expand and collapse sections of content.
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.au-accordion {
  // custom styling
  border: 0;
  border-bottom: 1px solid $AU-colordark-foreground-border;

  .au-accordion__title {
    @include AU-space( padding, 1unit 2.5unit 1unit 0unit );
    background-color: transparent !important; 
    text-decoration: none;

    &:after {
      right: 0;
    }

    &:hover {
      text-decoration: underline;

      &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%232C2D65' d='M64 0l64 64-16 16-64-64'/%3E%3Cpath fill='%232C2D65' d='M64 0l16 16-64 64L0 64'/%3E%3C/svg%3E");
      }
    }
  }

  .au-accordion__body-wrapper {
    border: 0;
    @include AU-space( padding, 0unit 1unit 1unit 0unit );
  }
}

// Dark variant custom styling
.au-accordion.au-accordion--dark {
  // custom styling
  border-color: $AU-colordark-foreground-border;
}

.au-accordion-group {

  li:last-child {

    .au-accordion__title {
      border-bottom: 0;
    }
  }

}