.ntg-cards {
  .au-responsive-media-img {
    background: #f5f5f5;
    @include AU-space(padding, 1.5unit 40%);
  }

  .au-card__fullwidth {
    @include AU-space(margin-left, -1unit);
    @include AU-space(margin-right, -1unit);

    &:first-child {
      @include AU-space(margin-top, -1unit);
    }
  }

  .au-card__title {
    @include AU-fontgrid(sm, heading);
    @include AU-space(padding-right, 1unit);
    font-weight: normal;
    position: relative;
    @include AU-space(margin, 1.5unit 0 0 0);

    &:after {
      content: "";
      @include AU-space(width, 0.75unit);
      @include AU-space(height, 0.75unit);
      @include AU-space(margin, 0 0.25unit 0 0.2unit);
      transition: margin 0.2s ease;
      display: inline-block;
      position: absolute;
      right: -3px;
      top: 50%;
      margin-top: -6px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23007099' d='M128 64l-64 64-16-16 64-64'/%3E%3Cpath fill='%23007099' d='M128 64l-16 16-64-64L64 0'/%3E%3C/svg%3E");
    }
  }
}

.au-card {
  border-radius: 0;
  box-shadow: none;
  z-index: 20;

  &:before {
    content: "";
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    background: $ntg-arafura-blue;
    position: absolute;
    transition: all 200ms ease;
    opacity: 0;
    z-index: -1;
  }

  &.au-card--clickable {
    border-radius: 0;
    box-shadow: none;
    z-index: 20;

    &:hover {
      box-shadow: none;

      &:before {
        opacity: 1;
      }

      .au-card__inner * {
        color: $white !important;
      }
    }

    .au-card--clickable__link {
      color: $ntg-arafura-blue;
      text-decoration: none;
    }
  }

  .au-card__inner * {
    transition: color 200ms ease;
  }

  img {
    border-top: 6px solid $ntg-arafura-blue;
    border-bottom: 1px solid #ccc;
  }
}
