.codebox {
  position: relative;

  .btn-copy {
    @include AU-fontgrid(xs, nospace);
    @include AU-space(top, 1unit);
    @include AU-space(right, .75unit);
    position: absolute;
    border: 0;
    padding: 0;
  }
}

code[class*="language-"],pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"] {
  display: inline !important;
}

.au-body pre code {
  overflow: auto;
  padding-top: 1rem;
}

:not(pre)>code[class*="language-"] {
  white-space: normal;
}

.token.comment,.token.prolog,.token.doctype,.token.cdata {
  color: #647281;
}

.namespace {
  opacity: .7;
}

.token.property,.token.tag,.token.boolean,.token.number,.token.constant,.token.symbol,.token.deleted {
  color: #905;
}

.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted {
  color: #690;
}

.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string {
  color: #9a6e3a;
}

.token.atrule,.token.attr-value,.token.keyword {
  color: #07a;
}

.token.function,.token.class-name {
  color: #D6284C;
}

.token.regex,.token.important,.token.variable {
  color: #9027e9;
}

.token.important,.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.furnace code[class*="language-"] {
  white-space: pre-wrap;
  padding: 16px 72px 16px 16px;
  padding: 1rem 4.5rem 1rem 1rem;
}

* + .codebox {
  @include AU-space(margin-top, 1unit);
}

*+.section {
  @include AU-space(margin-top, 3.5unit);
}