// .component-side-nav {
//   display: none;

//   @media screen and (min-width: 992px) {
//     display: block;
//   }

// }

.component-header {
  @include AU-space(padding-top, 1.75unit);
  position: relative;

  @media screen and (min-width: 992px) {
    @include AU-space(padding-top, 3unit);
  }

  h1 {
    
    &.component-header__heading {
      @include AU-fontgrid(xxxl, nospace);
    }

  }

  &__version {
    position: absolute;
    @include AU-space(top, -1.75unit);
    display: block;
    @include AU-fontgrid(sm, heading);
    color: $AU-color-foreground-action;
  }

  &__body {
    @include AU-space(margin-top, 2unit);
    @include AU-fontgrid(md);
  }

  + .component-navigation {
    @include AU-space(margin-top, 1unit);

    @media screen and (min-width: 1010px) {
      @include AU-space(margin-top, 2unit);
    }
  }

}

.component-navigation { 

  @media screen and (min-width: 1010px) {
    border-bottom: 8px solid #f5f5f5;
    border-bottom: 0.5rem solid #f5f5f5;
    display: flex;
    justify-content: space-between;
  }

  .au-link-list {
    display: block;
    padding: 0;
  }

  .au-link-list--inline {

    @media screen and (min-width: 1010px) {
      @include AU-space(margin-bottom, -.5unit);
    }

    > li {
      display: block;
      margin: 0;
      border-top: 1px solid gray;

      @media screen and (min-width: 1010px) {
        display: inline-block;
        border-top: 0;
      }

      &.active {

        a {
          color: $AU-color-foreground-action;
          border-color: $AU-color-foreground-action;
        }

      }

      a {
        @include AU-fontgrid(sm);
        @include AU-space(padding, .5unit);
        display: block;
        text-decoration: none;

        @media screen and (min-width: 1010px) {
          @include AU-space(padding, 1unit 1unit);
          border-bottom: 8px solid #f5f5f5;
          border-bottom: 0.5rem solid #f5f5f5;
        }

        &:hover {
          text-decoration: underline;
        }
      }

    }

    &.component-navigation__right {

      @media screen and (min-width: 1010px) {
        float: right;
      }

    }

  }

}

.component-documentation {
  @include AU-space(padding-top, 3unit);
  
  .code-demo {
    position: relative;

    + .code-demo {
      @include AU-space(padding-top, 3unit);
    }

    &__text {
      @include AU-space(margin-top, 1unit);
    }

    &__example-wrapper {
      @include AU-space(margin-top, 1unit);

      @media (min-width: 768px) {
        float: right;
        margin-top: 0;
      }

      &.col-sm-12 {
        @include AU-space(margin-top, 2unit);
      }
    }

    &__example-title {
      @include AU-space(padding, .25unit);
      font-size: 12px;
      font-size: 0.75rem;
      background: #f5f5f5;
      color: #636363;
      font-weight: normal;
      border: 2px solid #cfcfcf;
      border-bottom: 0;
      display: inline-block;
      z-index: 10;
    }

    &__example__iframe {
      min-width: 100%;
      display: block;
      border: 2px solid #cfcfcf;

      .example {
        @include AU-space(padding, 1unit);
        position: relative;
        display: block;

        &.example-main-nav {

          .container {
            width: 100%;
          }
        }

        &.example-side-nav {
          
          .au-side-nav {
            margin-top: 0;
          }
        }

        .grid-example {

          .container {
            width: 100%;
          }

          .row {

            > * {
              @include AU-space(padding-top, .75unit);
              @include AU-space(padding-bottom, .75unit);
              background: #fff;
              text-align: center;

              span {
                display: block;
                @include AU-fontgrid(xs);
                background: $AU-color-foreground-action;
                color: #fff;
              }
            }

          }
        }
      }

    }

    .tabs {
      border-top: 1px solid #cfcfcf;
    }

    .codebox {

      pre {
        margin-top: 0;
        border-radius: 0;
      }

    }

    &__example__code {
      @include AU-space(margin-top, 3unit);
    }

  }

  + .component-header {
    @include AU-space(padding-top, 1unit);
  }

}

.spacing .au-progress-indicator__link:before,
.spacing .au-accordion__title:before,
.spacing .au-accordion__body-wrapper:before {
  border: solid rgba(255,0,0,0.15) 16px;
  border: solid rgba(255,0,0,0.15) 1rem;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/img/spacing-example-grid.png");
}

.spacing .au-accordion__body-wrapper {
  position: relative
}

.spacing .au-progress-indicator__link:before {
  border-left: solid rgba(255,0,0,0.15) 8px;
  border-left: solid rgba(255,0,0,0.15) .5rem
}

.spacing .au-progress-indicator__link:after {
  border-right: solid rgba(255,0,0,0.15) .75rem
}

.headingLeft + .headingLeft {
  @include AU-space(margin-top, 3unit);
}