.fontgrid p {
  padding: 8px 0 4px;
  padding: .5rem 0 .25rem;
  margin: 16px 0 32px;
  margin: 1rem 0 2rem;
  font-weight: bold
}

.fontgrid .col-xs-4 div {
  margin-bottom: 4px;
  margin-bottom: .25rem;
  background-color: #f5f5f5;
  overflow: hidden
}

.fontgrid .fontgrid-xxxl {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.5
}

.fontgrid .fontgrid-xxl {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.5
}

.fontgrid .fontgrid-xl {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5
}

.fontgrid .fontgrid-lg {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5
}

.fontgrid .fontgrid-md {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.6
}

.fontgrid .fontgrid-sm {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5
}

.fontgrid .fontgrid-xs {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.42857
}

.fontgrid .fontgrid--nospace .fontgrid-xxxl {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1
}

.fontgrid .fontgrid--nospace .fontgrid-xxl {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1
}

.fontgrid .fontgrid--nospace .fontgrid-xl {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1
}

.fontgrid .fontgrid--nospace .fontgrid-lg {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1
}

.fontgrid .fontgrid--nospace .fontgrid-md {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1
}

.fontgrid .fontgrid--nospace .fontgrid-sm {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1
}

.fontgrid .fontgrid--nospace .fontgrid-xs {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.14286
}

.fontgrid .fontgrid--heading .fontgrid-xxxl {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.25
}

.fontgrid .fontgrid--heading .fontgrid-xxl {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.3
}

.fontgrid .fontgrid--heading .fontgrid-xl {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.25
}

.fontgrid .fontgrid--heading .fontgrid-lg {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.33333
}

.fontgrid .fontgrid--heading .fontgrid-md {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2
}

.fontgrid .fontgrid--heading .fontgrid-sm {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25
}

.fontgrid .fontgrid--heading .fontgrid-xs {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.14286
}