.intro__text,
.intro__buttons,
.intro__img {
  @include AU-space(margin-top, 1.5unit);
}

.features {

  &__intro,
  &__cta {
    text-align: center;
  }

  &__intro {

    p {
      margin: 0 auto;
      @include AU-space(margin-top, 1.5unit);
    }

  }

  &__cta {
    @include AU-space(margin-top, 2.5unit);
  }

  .au-card {
    @include AU-space(margin-top, -.25unit);
    border-top: 4px solid #ebebeb;
    border-top: .25rem solid #ebebeb;
    border-bottom: 4px solid #ebebeb;
    border-bottom: .25rem solid #ebebeb;
    border-right: 0;
    border-left: 0;
  }

  .au-card-list {
    @include AU-space(padding-top, 2unit);

    li {
      margin-top: 0;
    }

  }

}