.icon:before,
.icon--right:after {
  content: '';
  @include AU-space(width, 1.25unit);
  @include AU-space(height, 1.25unit);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
  @include AU-space(margin-top, -2px);
}

.icon {

  &:before {
    @include AU-space(margin-right, .5unit);
  }

  &.icon--link {

    &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%23007099' d='M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z'/%3E%3C/svg%3E");
    }

  }

  &.icon--copy {

    &:before {
      background-image: url("data:image/svg+xml,%3Csvg fill='%23007099' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z'/%3E%3C/svg%3E");
    }

  }

  &.icon--demo {

    &:after {
      background-image: url("data:image/svg+xml,%3Csvg fill='%23007099' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'/%3E%3C/svg%3E");
    }

    &:hover {

      &:after {
        background-image: url("data:image/svg+xml,%3Csvg fill='%23414141' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'/%3E%3C/svg%3E");
      }

    }

  }

  &.icon--right {

    &:before {
      display: none;
    }

    &:after {
      @include AU-space(margin-left, .5unit);
    }

  }

}

// heading anchor tags
.anchor {

  .icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    @include AU-space(margin-top, -.75unit);

    &:before {
      @include AU-space(width, 1.25unit);
      @include AU-space(height, 1.25unit);
      margin-right: 0;
    }

  }

}