//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Overrides for Australian Government Design System main nav module
// A horizontal list of links to key areas on the website. Typically placed in the header.
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.au-main-nav {
  border-color: $ntg-sky-blue;

  .au-main-nav__menu-inner {

    .au-link-list {

      li {
        overflow: visible;
        position: relative;

        &.rm-focused > ul,
        &:hover > ul {

          @media (min-width: $AU-media-md) {
            display: block;
          }

        }

      }

      ul {

        @media (min-width: $AU-media-md) {
          z-index: 99;
          margin-top: 0.5rem;
          position: absolute;
          left: 0;
          top: 100%;
          display: none;
          padding: 0;
          background-color: $AU-colordark-background;
          color: $AU-color-foreground-text;
          list-style-type: none;
          width: 300px;
        }
  
        &:before {
  
          @media (min-width: $AU-media-md) {
  
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: -0.5rem;
  
          }
  
        }

        li {
          width: 100%;
          list-style-type: none;
        }

        a {
          color: $AU-colordark-foreground-text;

          &:hover {
            background-color: $AU-colordark-background-shade;
          }
        }

        ul {

          @media (min-width: $AU-media-md) {
            display: none !important;
          }

        }

      }

      .active {

        a {
          border-bottom: none;
          margin-bottom: 0;
    
          &:hover {
            border-color: $AU-colordark-background;
          }
        }
    
        > a {
          border-bottom: 8px solid $AU-colordark-background;
          border-bottom: 0.5rem solid $AU-colordark-background;
          @include AU-space(margin-bottom, -0.5unit);
          font-weight: normal;
        }
    
      }

    }

  }

  // Alternate theme for main navigation
  &.au-main-nav--alt {

    li {

      ul {
        background-color: $AU-color-background-alt;

        a {
          color: $AU-color-foreground-text;
        }

      }

    }

    .active {

      a {
        &:hover {
          border-color: $AU-colordark-background !important;
        }
      }
  
      > a {
        &:hover {
          border-color: $AU-colordark-background !important;
        }
      }
  
    }

  }

  // Dark theme for main navigation
  &.au-main-nav--dark {
    border-color: $ntg-sky-blue;

    li {

      ul {
        background-color: $AU-colordark-background;

        a {
          color: $AU-colordark-foreground-text;
        }

      }

    }

    .active {

      a {
        &:hover {
          border-color: $AU-colordark-background-shade !important;
        }
      }
  
      > a {
        &:hover {
          border-color: $AU-colordark-background-shade !important;
        }
      }
  
    }

  }

  // Dark alternative theme for main navigation
  &.au-main-nav--dark.au-main-nav--alt {

    li {

      ul {
        background-color: $AU-colordark-background-alt;

        a {
          color: $AU-colordark-foreground-text;

          &:hover {
            background-color: $AU-colordark-background-alt-shade;
          }
        }

      }

    }

    .active {

      a {
        &:hover {
          border-color: $AU-colordark-background-alt-shade !important;
        }
      }
  
      > a {
        border-color: $AU-colordark-background-alt-shade !important;

        &:hover {
          border-color: $AU-colordark-background-alt-shade !important;
        }
      }
  
    }

  }

  .au-main-nav__collapser {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 1rem !important;
    height: 48.5px;
  
    &:hover {
      text-decoration: none !important;
    }

    @media (min-width: $AU-media-md) {
      display: none;
    }
  }
  
  .collapser {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-size: 0;
  }
  
  .collapser:after {
    content: '\2015';
    font-size: 20px;
  }
  
  .collapsed .collapser:after {
    content: '\2026';
    font-size: 20px;
    margin-bottom: 4px;
  }
  
  .collapse {
    list-style-type: none;
    padding-left: 1rem;
  }
  
  .collapse:not(.show) {
    display: none;
  }

}