//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Overrides for Australian Government Design System page alerts module
// Page alerts are used to notify users of important information or changes on a page, in a way that attracts the user's attention without interrupting the 
// user's task. Typically they appear at the top of a page following a submit action.
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.au-page-alerts {
  @include AU-space(border-left-width, 3px);
  @include AU-space(padding-left, 5unit);

  &:before,
  &:after {
    content: none;
  }

  h2,
  h3 {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: -4rem;
      top: 0;
      @include AU-space(width, 3unit);
      @include AU-space(height, 3unit);
      background-repeat: no-repeat;
    }

  }

  h3 {
    &:after {
      top: -.25rem;
    }
  }

  &.au-page-alerts--info {
    // custom styling	

    h2,
    h3 {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg id='info' xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z' fill='#{url-friendly-colour($AU-color-info)}'/%3E%3C/svg%3E");
      }
    }
  }

  &.au-page-alerts--success {
    // custom styling	

    h2,
    h3 {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg id='success' xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z' fill='#{url-friendly-colour($AU-color-success)}'/%3E%3C/svg%3E");
      }
    }
  }

  &.au-page-alerts--error {
    // custom styling

    h2,
    h3 {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg id='error' xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z' fill='#{url-friendly-colour($AU-color-error)}'/%3E%3C/svg%3E");
      }
    }
  }

  &.au-page-alerts--warning {
    // custom styling

    h2,
    h3 {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg id='warning' xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z' fill='#{url-friendly-colour($AU-color-warning)}'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &.au-page-alerts--dark {

  }
}
