.col-dark {
  background-color: $AU-colordark-background;
}

.palette .palette__bg {
  background: $AU-color-background;
}

.palette .palette__bg p {
  @include AU-space(padding, .5unit);
  margin: 0
}

.palette .palette__bg hr {
  @include AU-space(border-width, .25unit);
  @include AU-space(margin-top, .75unit);
}

.palette .palette__bg .palette__text--focus {
  border-color: $AU-color-foreground-focus;
}

.palette .palette__bg .palette__text--muted {
  color: $AU-color-foreground-muted;
}

.palette .palette__bg.palette__bg--shade {
  background: $AU-color-background-shade;
}

.palette .palette__bg.palette__bg--alt {
  background: $AU-color-background-alt;
}

.palette .palette__bg.palette__bg--alt-shade {
  background: $AU-color-background-alt-shade;
}

.palette.palette--dark .palette__bg {
  background: $AU-colordark-background;
}

.palette.palette--dark .palette__bg.palette__bg--shade {
  background: $AU-colordark-background-shade;
}

.palette.palette--dark .palette__bg.palette__bg--alt {
  background: $AU-colordark-background-alt;
}

.palette.palette--dark .palette__bg.palette__bg--alt-shade {
  background: $AU-colordark-background-alt-shade;
}

.palette.palette--dark .palette__text--focus {
  border-color: $AU-colordark-foreground-focus;
}

.palette.palette--dark .palette__text--muted {
  color: $AU-colordark-foreground-muted;
}