.au-side-nav {
  margin: 2rem 0;

  @media (min-width: $AU-media-sm) {
    margin-top: 5rem;
  }

  &.au-side-nav--dark {
    
    a {
      color: #fff;

      &:hover {
        color: #fff !important;
        background-color: inherit !important;
      }
    }
  }

  .collapse {
    display: block;
    list-style-type: none;
    padding-left: 0;
  }

  .au-side-nav__collapser {
    display: none;
  }

  li {
    position: relative;
  }

  li.active {

    >a,
    >span {
      color: #292929;
      font-weight: bold;
      padding-left: 0;
      font-size: inherit;
    }

  }

  .au-sidenav__title {
    
    a {
      color: #292929;
      font-size: 24px;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid $AU-colordark-background;
    
      &:hover {
        color: #292929;
        text-decoration: none;
      }
    }

  }

  a {
    padding: 0.8rem 0;
    border-bottom: 0;
    font-weight: inherit;
    font-size: 16px;
    
    &:hover {
      background-color: inherit;
    }
  }

  ul ul a {
    padding-right: 3rem;
    padding-left: 2rem;
  }

  &.au-accordion {
    border-bottom: 0;

    .au-accordion__title {
      @include AU-space(padding, 1unit 2.5unit 1unit 1unit);

      &:after {
        @include AU-space(right, 1unit);
      }
    }

  }

  &.ntg-side-nav-accordion {
    
    .au-side-nav__collapser {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 1rem !important;
      height: 48.5px;
    
      &:hover {
        text-decoration: none !important;
      }
    }
    
    .collapser {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      font-size: 0;
    }
    
    .collapser:after {
      content: '\2015';
      font-size: 20px;
    }
    
    .collapsed .collapser:after {
      content: '\2026';
      font-size: 20px;
      margin-bottom: 4px;
    }
    
    .collapse:not(.show) {
      display: none;
    }
    
  }

}