.tabs {
  border-bottom: 4px solid #e0e0e0;
  border-bottom: .25rem solid #e0e0e0;
  width: 100%;
  position: relative;
  z-index: 5;

  > button {
    @include AU-fontgrid(xs, nospace);
    @include AU-space(padding, .75unit 1unit .75unit);
    border: 0;
    border-bottom: 4px solid #e0e0e0;
    border-bottom: .25rem solid #e0e0e0;
    @include AU-space(margin-bottom, -.25unit);
    color: $AU-color-foreground-action;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;

    &.tab-item--active {
      border-bottom: 4px solid $AU-color-foreground-action;
      border-bottom: .25rem solid $AU-color-foreground-action;
    }
  }
}

// only show tabs if javascript is present
.js {

  .tab-content {
    display: none;
  }

  .tab-content--active {
    display: block;
  }

}